<h2>
  Orange Container:
</h2>

<h3>
  Variation #1:
</h3>

<ngx-container-resolver
  [changes]="resolver.changes | async"
  [data]="data"
  [error]="error"
  [loading]="loading"
  [reloading]="reloading"
>
  <ng-template #data let-data="data">
    <app-orange [data]="data"></app-orange>
  </ng-template>
  <ng-template #error let-error="error">
    There was an error variation #1: {{ error.value }}
  </ng-template>
  <ng-template #loading>
    Loading Orange Variation #1 ...
  </ng-template>
  <ng-template #reloading>
    Reloading Orange Variation #1 ...
  </ng-template>
</ngx-container-resolver>

<h3>
  Variation #2:
</h3>

<ngx-container-resolver
  *ngIf="resolver.changes | async; let state;"
  [changes]="resolver.changes | async"
  [data]="data"
  [error]="error"
  [loading]="loading"
  [reloading]="reloading"
  [reloadingPosition]="'above'"
>
  <ng-template #data>
    <app-orange [data]="state.data"></app-orange>
  </ng-template>
  <ng-template #error>
    There was an error variation #2: {{ state.error.value }}
  </ng-template>
  <ng-template #loading>
    Loading Orange Variation #2 ...
  </ng-template>
  <ng-template #reloading>
    Reloading Orange Variation #2 ...
  </ng-template>
</ngx-container-resolver>

<button (click)="reload()">
  Reload
</button>

<button (click)="addApple()">
  Add Apple
</button>

<button (click)="removeApple()">
  Remove Apple
</button>
